@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="email"]:-webkit-autofill {
  background-color: rgb(243 244 246);
  /* or any other color you prefer */
  box-shadow: 0 0 0 30px rgb(243 244 246) inset;
  /* optional, to remove the yellow background */
}

input[type="password"]:-webkit-autofill {
  background-color: rgb(243 244 246);
  /* or any other color you prefer */
  box-shadow: 0 0 0 30px rgb(243 244 246) inset;
  /* optional, to remove the yellow background */
}
:root{
  background-color: rgb(255, 255, 249);
}